body, section, div, h1, h2, ul, header, ol, aside, figure, figcaption, footer header, nav {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  text-align: inherit;
  vertical-align: inherit;
  text-decoration: inherit;
  color: inherit;
}

body {
  display: block;
  line-height: 1.5;
}
